# Java / Maven
target/
*.class
*.war
*.ear
*.jar

# IDEs
.idea/
*.iml
.project
.settings/
.classpath
.factorypath

# OS / Misc
.DS_Store
Thumbs.db
*.log
tmp/
temp/

# Python
__pycache__/
*.pyc
venv/

# Database
testdb.*
*.db
